* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
    font-family: 'Single Day', cursive;
    color: orange;
    background-color: black;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#header-title {
    font-family: 'Moirai One', system-ui;
    font-size: 30px;
    color: orange;
}

#header-title:hover {
    cursor: pointer;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-pic {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 180px;
    max-height: 300px;
    margin-bottom: 10px;
}

img {
    height: auto;
    object-fit: scale-down;
    border-radius: 12px;
}

.container-feel {
    text-align: center;
    width: 100%;
}

.container-board {
    text-align: center;
    position: relative;
    height: 140px;
    margin-bottom: 15px;
}

.container-info {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.info {
    color: white;
}

.scoreboard {
    font-size: 5rem;
    padding: 5px 15px;
    border-radius: 12px;
    border: 3px solid white;
}

#tag-user {
    position: relative;
    top: -150px;
    left: 220px;
    font-size: 2rem;
    width: 100px;
}

#tag-infantino {
    position: relative;
    top: -85px;
    left: -200px;
    font-size: 2rem;
}

.tag-round {
    position: relative;
    top: -120px;
    border: 3px solid white;
    border-radius: 12px;
}

#feeling3 {
    display: block;
}

#score-infantino {
    display: inline-block;
}

#score-user {
    display: inline-block;
}

.container-stats {
    width: 60%;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-bottom: 20px;
}

.stats-infantino, .stats-user {
    min-width: 100px;
    text-align: center;
}

.container-buttons {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.button {
    font-size: 40px;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 10px 15px;
}

.button:hover {
    cursor: pointer;
    background-color: orange;
    border: 2px solid white;
}

.button:active {
    box-shadow: 0px 0px 15px white;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#footer-text {
    font-family: 'Moirai One', system-ui;
    color: orange;
    font-size: 20px;
}

#calc-button:hover {
    cursor: pointer;
}